### Maven ###
.mvn/wrapper/maven-wrapper.jar
target/
!**/src/main/**/target/
!**/src/test/**/target/
### jte ###
/jte-classes/
### Proprietary information ###
/torg-codex-data/src/main/resources/db/load/
/node_modules/
/torg-codex-data/orig-data/*
!/torg-codex-data/orig-data/import-scripts/
