HELP.md
### Maven ###
.mvn/wrapper/maven-wrapper.jar
target/
!**/src/main/**/target/
!**/src/test/**/target/
### jte ###
/jte-classes/
### Proprietary information ###
/torg-codex-data/src/main/resources/db/
